.Register > form{
	width: 250px;

}

.Register input, .AddProduct button{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.Register span{
    color: red;
    margin: 0 20px;
    position: absolute;
}